
@media (max-width: 360px) {
    .dk-nav .nav-btn{
        padding: 4px 14px;
    }
    .hero.home .wp-hero{
        padding-top: 38px;
        padding-bottom: 32px;
    }
    .hero.home .wp-hero .hero-desc {
        font-size: 20px;
        line-height: 29px;
        max-width: 242px;
        margin-bottom: 22px;
    }
    .hero.home .wp-hero .btn-hero {
        font-size: 14px;
        padding: 8px 28px;
    }
    .hero.home .promotion p {
        font-size: 18px;
        line-height: 28px;
        max-width: 288px;
    }
    .info .wp-info .info-icon {
        max-width: 98px;
        margin-right: 12px;
    }
    .hero.home .wp-hero .hero-image2 {
        right: 0;
        transform: translate(0% , -60%);
        width: 80px;
    }
    .hero.home .wp-hero .hero-image1 {
        transform: translate(calc(-50% - 130px), -34%);
    }
    section.join-now .wp-join{
        margin-bottom: 0;
    }
    section.join-now .wp-join p {
        max-width: 292px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 22px;
    }
    section.cs .cs-title {
        font-size: 20px;
        line-height: 26px;
    }
    .payment-info .wp-payment-info {
        width: 100%;
        padding: 0px 32px;
    }
    .info .wp-info .wp-desc h5 {
        font-size: 20px;
        line-height: 24px;
    }
    
}
@media (max-width: 375px){
    .dk-container {
        max-width: 480px;
    }
    .hero.home .wp-hero .hero-desc {
        font-size: 20px;
        line-height: 28px;
        max-width: 232px;
    }
}
@media (max-width: 576px) {
    .dk-container {
        max-width: 480px;
    }
    
    .hero.home .wp-hero .hero-image2 {
        right: 0;
        transform: translate(0% , -60%);
        width: 80px;
    }
    .hero.home .wp-hero .hero-image1 {
        left: 0;
        transform: translate(0, -34%);
    }
    
    section.cs .cs-title {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width: 768px) {
    .dk-container {
        max-width: 480px;
    }
}
@media (max-width: 992px) {
    .dk-container {
        max-width: 480px;
    }
}
@media (min-width: 993px) {
    .dk-container {
        max-width: 480px;
    }
}
@media (min-width: 1400px) {
    .dk-container {
        max-width: 480px;
    }
}